@use '../../../styles.scss'as *;

.accordion {
    width: 200px;
    padding: 25px;

    .accordion-item {
        margin-bottom: 10px;

        .accordion-header {
            background-color: transparent;
            margin-bottom: 10px;
            cursor: pointer;

            .title-beauty {
                font-size: 16px;
                font-weight: 600;
                color: var(--category-acc-color);
            }

            .accordion-icon {
                float: right;
            }

            .accordion-icon.open {
                transform: rotate(180deg);
            }
        }

        .accordion-content {
            background-color: transparent;
            padding: 10px;
            display: none;

            .subtitle-beauty {
                color: var(--item-acc-color);
                padding: 10px;
                border-radius: 6px;
                text-decoration: none !important;
                display: flex;
                flex-direction: row;
                align-items: center;

                .subitem-icons {
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                }
            }

            .subtitle-beauty:hover {
                background-color: var(--hover-menu-bg);
            }
        }

        .accordion-content.open {
            display: flex;
            flex-direction: column;
        }
    }
}