<div class="personal-info-container">
    <div class="main-personal-info">
        <div class="left-side">
            <div class="left-side-header">
                <div class="button-mac">
                    <img src="/assets/images/close-icon.png" class="button-icon">
                </div>
                <div class="button-mac yellow-button">
                    <img src="/assets/images/subtract-icon.png" class="button-icon">
                </div>
                <div class="button-mac green-button">
                    <img src="/assets/images/full-screen-icon.png" class="button-icon" (click)="fulllscreen()">
                </div>
            </div>
            <div class="accordion">
                <div class="accordion-item" *ngFor="let item of sideList">
                    <div class="accordion-header" (click)="toggleAccordion(item)">
                        <p class="title-beauty">{{ item.title }}</p>
                    </div>
                    <div class="accordion-content" [class.open]="item.open">
                        <ng-container *ngFor="let sub of item.content">
                            <a class="subtitle-beauty" (click)="goTo(sub.link, item.link)">
                                <img *ngIf="sub.icon" [src]="'assets/images/side-icon/' + sub.icon"
                                    class="subitem-icons">
                                <p class="subitem-title">{{ sub.title }}</p>
                            </a>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="header-right-side">
                <img src="/assets/images/my-image.jpeg" alt="AmirAli Rashidi Profile" class="my-image">
            </div>
            <div class="right-side-main">
                <div id="about" class="about-container">
                    <div>
                        <h1>AmirAli Rashidi</h1>
                        <p class="about-text">
                            Innovative Front-End Developer with 4+ years of expertise in building responsive,
                            high-performance web applications using Angular, Vue, and React. Passionate about merging
                            user-centric design with cutting-edge technology to solve complex problems. Proven ability
                            to lead cross-functional teams, mentor junior developers, and deliver scalable solutions
                            aligned with Agile workflows.
                        </p>
                        <a target="_blank" href="https://docs.google.com/document/d/1vsWqLSaRckmBBLRFLPWkR8-UtSvJ-Sz67ANSeeSXYOU/edit?usp=sharing">
                            <button class="content-button">
                                Download Resume
                            </button>
                        </a>
                    </div>
                    <img src="/assets/images/front-end-developer.png" class="about-image">
                </div>
                <div id="skills" class="box-container">
                    <h4 class="box-headr">My Skills</h4>
                    <div class="main-skills">
                        <div class="skill-container" *ngFor="let item of skills">
                            <div class="skill-detail">
                                <img [src]="'/assets/images/skill-icons/' + item.icon" class="items-icon">
                                <p class="item-name">{{ item.name }}</p>
                            </div>
                            <!-- <app-rating [rating]="item.rating"></app-rating> -->
                        </div>
                    </div>
                </div>
                <div id="jobs" class="box-container">
                    <h4 class="box-headr">My Jobs</h4>
                    <div class="main-jobs">
                        <div class="job-container" *ngFor="let item of jobs" (click)="goTo(item.website, true)">
                            <div class="job-detail">
                                <div class="job-title">
                                    <img [src]="'/assets/images/' + item.logo" class="items-logo">
                                    <p class="item-name">{{ item.title }}</p>
                                </div>
                                <p>{{ item.date }}</p>
                            </div>
                            <p class="item-detail">{{ item.detail }}</p>
                            <ng-container *ngIf="item.achievements">
                                <li *ngFor="let a of item.achievements">{{ a }}</li>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div id="projects" class="box-container">
                    <h4 class="box-headr">My Projects</h4>
                    <div class="main-projects">
                        <div class="project-box" *ngFor="let item of projects">
                            <div>
                                <h3>{{ item.name }}</h3>
                                <p class="project-detail">
                                    {{ item.detail }}
                                </p>
                                <ng-container *ngIf="item.achievements">
                                    <li *ngFor="let a of item.achievements">{{ a }}</li>
                                </ng-container>
                            </div>
                            <a [href]="item.link" target="_blank" class="project-button" *ngIf="item.link"
                                [ngClass]="{'project-with-link': item.link}">
                                <button class="button-style">
                                    Open
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="uni" class="box-container">
                    <h4 class="box-headr">My Educations</h4>
                    <div class="main-uni">
                        <div class="uni-container">
                            <div class="uni-detail">
                                <div class="uni-title">
                                    <img src="/assets/images/azad-uni.png" class="items-logo">
                                    <div class="uni-items">
                                        <p class="item-name">Bachelor of Computer Engineering</p>
                                        <p class="item-uni">Islamic Azad University of Yazd</p>
                                    </div>
                                </div>
                                <p>2022 Oct – present</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div id="github-projects" class="box-container">
                    <h4 class="box-headr">My Github Public Projects</h4>
                    <div class="main-projects">
                        <div class="project-box" *ngFor="let item of github" style="cursor: pointer;"
                            (click)="goTo(item.link, true)">
                            <div>
                                <div class="project-header">
                                    <img [src]="item.icon" class="items-logo">
                                    <h3>{{ item.title }}</h3>
                                </div>
                                <p class="project-detail">{{ item.description }}</p>
                                <ng-container *ngIf="item.achievements">
                                    <li *ngFor="let a of item.achievements">{{ a }}</li>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div id="coffee" class="box-container">
                    <h4 class="box-headr">Buy Me a Coffee</h4>
                    <div class="coffee-container">
                        <a href="https://www.buymeacoffee.com/amiralirashidi" target="_blank">
                            <img src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png" alt="Buy Me A Coffee"
                                style="height: 50px !important;width: 217px !important;">
                        </a>
                        <a href="https://coffeete.ir/ali_rashidii" target="_blank">
                            <img alt="کافیته"
                                src="https://img.buymeacoffee.com/button-api/?emoji=&slug=amiralirashidi&text=کافیته&button_colour=ffaf3b&font_colour=000000&font_family=Comic&outline_colour=000000&coffee_colour=c29204" />
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>