<div class="personal-info-container">
    <div class="main-personal-info">
        <div class="left-side">
            <div class="left-side-header">
                <div class="button-mac">
                    <img src="/assets/images/close-icon.png" class="button-icon">
                </div>
                <div class="button-mac yellow-button">
                    <img src="/assets/images/full-screen-icon.png" class="button-icon">
                </div>
                <div class="button-mac green-button">
                    <img src="/assets/images/subtract-icon.png" class="button-icon">
                </div>
            </div>
            <app-accordion [items]="sideList"></app-accordion>
        </div>
        <div class="right-side">
            <div class="header-right-side">
                <img src="/assets/images/my-image.jpeg" alt="AmirAli Rashidi Profile" class="my-image">
            </div>
            <div class="right-side-main">
                <div id="about" class="about-container">
                    <div>
                        <h1>AmirAli Rashidi</h1>
                        <p class="about-text">Angular FrontEnd Developer with 2 years of experience building WebSite and
                            Web Applications Using
                            Angular and modern JavaScript tools/frameworks. Experienced in building multi-platform
                            website
                            using Resposive Web Design/RWD. Passionate about learning and development with a desire to
                            apply
                            skills on a larger development team.
                        </p>
                        <a target="_blank" href="/assets/files/amiralirashidi-resume.pdf">
                            <button class="content-button">
                                Download Resume
                            </button>
                        </a>
                    </div>
                    <img src="../../../assets/images/front-end-developer.png" class="about-image">
                </div>
                <div id="projects">

                </div>
            </div>
        </div>
    </div>
</div>